/*=========================================================
---------------------- MOBILE STYLES ----------------------
=========================================================*/

/* GENERAL */
* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: url("blackjack.png");
    background-position: center;
    background-size: cover;
    background-color: rgba(245, 245, 245, 65%);
    background-blend-mode: overlay;
}

/* HEADING */
header {
    background-color: black;
    box-shadow: 0 0 10px black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 50px;
    margin: 5% 2%;
}


/* DRAW CARD AREA */
.drawDisplay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid grey;
    padding: 5%;
    margin: 5% 2%;
    background-color: rgba(245, 245, 245, 85%);
}


/* CARD DISPLAY AREA */

.cardDisplay{
    display: flex;
} 

.player, 
.computer {
    display: flex;
    flex-direction: column;
    border: 2px solid grey;
    padding: 0px 10px 0px 10px;
    margin: 5% 2%;
    flex: 1 1 calc(50% - 10px);
    background-color: rgba(245, 245, 245, 85%);
}

.player {
    justify-content: flex-end;
}

#ph3, 
#ch3 {
    justify-self: first baseline;
}

p {
    display: flex;
    align-items: baseline;
}

#p_hand, 
#c_hand {
    border: 1px solid gray;
    padding: 30px calc(5px - 50%);
    margin: 0 25% 10%;
    justify-content: center;
    font-size: 1.5rem;
}

/* GAME RESULTS AREA */
.results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.winnerDisplay {
    padding: 10px 10%;
    justify-content: center;
    align-items: center;
    border: 1px solid lightgrey;
    box-shadow: 0 0 15px grey;
    margin: 5% 2%;
    width: 70%;
    display: flex;
    background-color: rgba(245, 245, 245, 85%);
}

.playAgain{
    display: flex;
    justify-content: center;
}

/* BUTTONS */

.button {
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 5%;
    font-size: 1.5em;
}

/*=========================================================
---------------------- MEDIA QUERIES ----------------------
=========================================================*/

@media (min-width: 700px) {
    .drawDisplay {
        padding: 2%;
        margin: 3% 2%;
    }
    .player,
    .computer {
        min-height: 300px;
        display: block;
        margin: 3% 2%;
    }
    h3 {
        font-size: 2em;
    }
    #p_hand, #c_hand {
        min-height: 200px;
        align-items: center;
        font-size: 3em;
    }
}

@media (min-width: 1200px) {
    header {
        grid-area: head;
        margin: 0 auto;
    }
    main{
        display: block;
    }
    .drawDisplay {
        grid-area: draw;
        margin: 10px;
    }
    .cardDisplay {
        grid-area: card;
    }
    .results {
        grid-area: rslt;
    }
    .winnerDisplay{
        min-height: 350px;
    }
    .playAgain {
        grid-area: redo;
        display: flex;
        justify-content: center;
        margin: 80% 20%;
    }
    
    main{
        display: grid;
        grid-template-rows: auto ;
        grid-template-columns: repeat(6, 1fr);
        grid-template-areas: 
          
            "draw draw draw draw draw draw"
            ". . . . . . "
            "card card card card rslt redo"
            "card card card card rslt redo"
            ". . . . . ."
    }
}

/* 
@media (min-width: 800px) {
    header {
        margin: 2% 2%;
        padding: 1%;
    }
    .drawDisplay {
        flex-direction: row;
        margin-top: 1%;
    }
    .drawDisplay .button {
        margin-left: auto;
    } 
    .main {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .player,
    .computer,
    .winnerDisplay {
        margin-top: auto;
        margin-bottom: auto;
        flex: 1 1 auto;
    }
   
} */